body {
  font-size: 16px;
  color: #333;
  background-color: #fcfcfc;
}

#header-nav {
  background-color: #f8f8f8;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 0;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

@media (min-width: 768px) {
  #collapsable-nav {
    display: none !important;
  }
}

#collapsable-nav {
  background-color: #fcfcfc;
}

#nav-list {
  margin: 0;
}

#nav-list li a {
  color: #555;
  border-bottom: 1px solid #e7e7e7;
  padding: 15px;
}

#nav-list li a:hover {
  background-color: #E7E7E7;
}

/* Page Heading */
h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* Tall Content Section */
#menu-content {
  background-color: #999999;
  padding: 20px;
  color: white;
  min-height: 1000px;
  border-radius: 4px;
}

#menu-content p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
}